@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EcoMeal</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-section-label">Navigation</div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin,Customer">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="packages">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Packages
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>>

        <AuthorizeView Roles="Admin,BusinessManager">
            <Authorized>
                <div class="nav-divider"></div>
                <div class="nav-section-label">Management</div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="businesses">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Businesses
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/users">
                        <span class="bi bi-people-fill" aria-hidden="true"></span> Users
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="orders">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Orders
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3 mt-4 border-top pt-2">
                    <a class="nav-link text-danger" href="/api/auth/logout" data-enhance-nav="false">
                        <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
                    </a>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
